<h3 class="h6">Current Reservations:</h3 >
<% current_user.customer_bookings.approved.current.each do |booking| %>
  <div class="card-product m-1">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= link_to booking.gadget.name, gadget_path(booking.gadget) %></h2>
      <p><strong>Booked Dates</strong>:<br>
      <%= booking.start_on %> to <%= booking.end_on %></p>
    </div>
  </div>
<% end %>
