<h3 class="h6">Past Reservations:</h3 >
<% current_user.customer_bookings.past.each do |booking| %>
  <div class="border p-3 mb-1 bg-white">
    <h2 class="h6"><%= link_to booking.gadget.name, gadget_path(booking.gadget) %></h2>
    <p class="small text-muted mb-0">Returned <%= distance_of_time_in_words_to_now(booking.end_on) %> ago</p>
  </div>
<% end %>
