<div class="container">
  <h1>All my bookings</h1>
  <br>

  <ul class="list-unstyled">
    <% @bookings.each do |booking| %>
      <li><strong><%= booking.gadget.name %></strong></li>
      <li><%= booking.gadget.description %></li>
      <li>From<%= booking.start_on %></li>
      <li>Till<%= booking.end_on %></li>
      <hr>
    <% end %>
  </ul>
</div>
