<div class="container">
  <h1> Item rented &nbsp  <%= @gadget.name %></h1>
  <hr>
  <br>
  <h2>Start date for  &nbsp <%= @booking.start_on  %></h2>

  <p> End On  &nbsp<%= @booking.end_on  %></p>
</div>
