<br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card">
        <div class="card-header  text-center my-show-heading h4"  >
          Item Booked
        </div>


        <%= render "bookings/card", booking: @booking %>
        <%= link_to "My Booking", user_bookings_path, class: "btn btn-outline-primary top-squared" %>

      </div>
    </div>
  </div>
</div>
