 <footer class="footer">

  <h2 class="my-footer-h2 ">Connected<%= image_tag "favcon.jpeg", alt: "CK", class: "rounded-pill border mx-1 border-white", width: 40 %>Kitchen</h2>

  <br>
    <div class="social-media">
    <a href="#none" class="social-media-link">
      <i class="fab fa-twitter-square"></i>
    </a>

    <a href="#none" class="social-media-link">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="#none" class="social-media-link">
      <i class="fab fa-instagram-square"></i>
    </a>
  </div>
  <p class="footer-paragraph">
    Copyright &copy; Created by  Chizu, Brianna & David
  </p>
</footer>
