<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556909211-36987daf7b4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1>Borrow kitchen gadgets from your neighbours!</h1>
    <p>Easier and more convenient way to share your kitchen gadgets.</p>
    
     <%= link_to "Start your search", gadgets_path, class: "btn btn-light" %>
    <%# <a class="btn btn-flat" href="#">Search your rental</a> %>
  </div>
</div>
