<div class="container">
  <h1>List of gadgets</h1>
  <br>
  <ul class="list-unstyled">
    <% @gadgets.each do |gadget| %>
      <li><strong><%= link_to gadget.name, gadget_path(gadget) %></strong></li>
      <li><%= gadget.description %></li>
      <hr>
    <% end %>
  </ul>
</div>
