<div class="container">
  <h1>List of gadgets</h1>
  <br>

  <div style="width: 100%; height: 400px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <ul class="list-unstyled">
    <% @gadgets.each do |gadget| %>
      <li><strong><%= link_to gadget.name, gadget_path(gadget) %></strong></li>
      <li><%= gadget.description %></li>
      <hr>
    <% end %>
  </ul>
</div>
