<div class="container">
  <h1><%= @gadget.name  %></h1>
  <hr>
  <br>
  <p><%= @gadget.description  %></p>
  <%= render "gadgets/photo", photo: @gadget.photo %>
  <br>
  <br>
  <%= render "bookings/form_new_booking", gadget: @gadget, booking: @booking %>
</div>
