<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1><%= @gadget.name  %></h1>
      <hr>
      <br>
      <%= render "gadgets/photo", photo: @gadget.photo %>
      <br>
      <p><%= @gadget.description  %></p>
    </div>
    <div class="col-12 col-lg-4">
      <%= render "bookings/form_new_booking", gadget: @gadget, booking: @booking %>
    </div>
  </div>
</div>
