<div class="container">
  <h1><%= @gadget.name  %></h1>
  <hr>
  <br>
  <p><%= @gadget.description  %></p>
  <br>
 <p><%= link_to "Book Gadget", new_gadget_booking_path(@gadget), class: "btn btn-outline-primary" %></p>
</div>
